node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# .idea
.idea/

# devbox
.devbox/
devbox.lock

# npm lock files
package-lock.json

# design
*.bkp
.svelte-kit/

# ignoring 'AI generated' web-app
web-app/
